@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --color-brand-50: #eff6ff;
    --color-brand-100: #dbeafe;
    --color-brand-200: #bfdbfe;
    --color-brand-500: #3b82f6;
    --color-brand-600: #2563eb;
    --color-brand-700: #1d4ed8;
    --color-brand-800: #1e40af;
    --color-brand-900: #1e3a8a;

    --color-red-500: #f44336;
    --color-green-500: #22c55e;

    --border-radius-tiny: 3px;
    --border-radius-sm: 5px;
    --border-radius-md: 7px;
    --border-radius-lg: 9px;

    --color-blue-100: #e0f2fe;
  }

  /* Loader */
  .loader {
    width: 3.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, var(--color-brand-500) 94%, #0000) top/8px
        8px no-repeat,
      conic-gradient(#0000 30%, var(--color-brand-500));
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 8px),
      #000 0
    );
    mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
  }

  @keyframes l13 {
    100% {
      transform: rotate(1turn);
    }
  }

  /* Navbar */
  .nav-link:link,
  .nav-link:visited {
    @apply flex items-center gap-2 px-3 py-2 text-[1rem] text-[var(--color-grey-200)];
    transition: all 0.3s;
  }

  .nav-link:hover,
  .nav-link:active,
  .nav-link.active:link,
  .nav-link.active:visited {
    @apply rounded-[var(--border-radius-md)] bg-[var(--color-brand-600)];
  }

  .nav-link svg {
    @apply h-[1.6rem] w-[1.6rem];
  }

  .icon {
    @apply h-6 w-6 cursor-pointer;
  }

  .btn-primary {
    @apply bg-dodger-blue-500 text-gray-50;
  }

  .card {
    @apply rounded-lg bg-white px-6 py-4 shadow-md;
  }
}
