@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --color-grey-0: #fff;
    --color-grey-50: #f9fafb;
    --color-grey-100: #f3f4f6;
    --color-grey-200: #e5e7eb;
    --color-grey-300: #d1d5db;
    --color-grey-400: #9ca3af;
    --color-grey-500: #6b7280;
    --color-grey-600: #4b5563;
    --color-grey-700: #374151;
    --color-grey-800: #1f2937;
    --color-grey-900: #111827;

    --color-brand-50: #eff6ff;
    --color-brand-100: #dbeafe;
    --color-brand-200: #bfdbfe;
    --color-brand-500: #3b82f6;
    --color-brand-600: #2563eb;
    --color-brand-700: #1d4ed8;
    --color-brand-800: #1e40af;
    --color-brand-900: #1e3a8a;

    --border-radius-tiny: 3px;
    --border-radius-sm: 5px;
    --border-radius-md: 7px;
    --border-radius-lg: 9px;
  }

  .nav-link:link,
  .nav-link:visited {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    color: var(--color-grey-200);
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
    transition: all 0.3s;
  }

  .nav-link:hover,
  .nav-link:active,
  .nav-link.active:link,
  .nav-link.active:visited {
    background-color: var(--color-brand-600);
    border-radius: var(--border-radius-md);
  }

  .nav-link svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}
